.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.logo {
  color: #fff;
  font-size: 25px;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
}

.headerRight > * {
  margin-left: 10px;
}